p{
    margin: 0px;
}
#element{
    background-color: var(--color-Narandzasta);
    width: 100%;
    padding: 4% 3% 3%;
    box-shadow: var(--background-login-div);

    position: fixed;
    bottom: 0px;
}

.list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.selected>fa-icon,.selected>p{
    color: var(--color-logo-bela) !important;
}

.list>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 18%;
}

.list>div>p{
    color: var(--color-siva);
    font-size: 3vW;
}

fa-icon{
    font-size: 30px;
    color: var(--color-siva);
}