

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Particle Network Animation</title>
  <link rel="stylesheet" href="./app.component.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
<!-- partial:index.partial.html -->



<div style="z-index: 0;" class='particle-network-animation'>
</div>



<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <!-- <script src="/script.js"></script> -->


    <app-navbar></app-navbar>

    <router-outlet></router-outlet> 

</body>
</html>
