.main {
    padding: 5% 7%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
    margin: 5%;
}
.price {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.bigger {
    margin-bottom: 5%;
    font-size: 2.5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.smaller {
    font-size: 1.7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.date {
    color: #735900;
}
.green {
    color: #25BA00;
}