<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<title>Studentska sluzba</title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}"/>
	<link rel="stylesheet" type="text/css" href="../static/css/admin-style.css" th:href="@{/css/admin-style.css}"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,600,800' rel='stylesheet' type='text/css'>
    <script type="text/javascript" language="Javascript" src="../static/js/token.js" th:src="@{/js/token.js}"></script>
    <script type="text/javascript" language="Javascript" src="../static/js/ui.js" th:src="@{/js/ui.js}"></script>
    <script type="text/javascript" language="Javascript" src="../static/js/redirect.js" th:src="@{/js/redirect.js}"></script>
</head>
<body onload="checkRedirect(); displayUsername(); displayUsername('update-uname'); addTokenToForm('userform');">
	<div id="background"></div>
	<div id="wrapper">
		<div id="user">
			<p id="user-name"></p>
			<img src="../images/user-img.bmp" id="user-img">
			<div id="user-options">
				<button type="button" onclick="toggleElementById('update-self');">Edit user</button>
				<button type="button" onclick="makeRequest('/logout_req', [], function(){window.location.replace('/login');});">Log out</button>
			</div>
		</div>
		<div id="admin-options-wrapper">
			<div id="admin-options">
				<h3>Administracija:</h3>
				<ul>
					<li><a href="students" class="tokenify">Studenti</a></li>
					<li><a href="staff" class="tokenify">Predavači</a></li>
					<li><a href="majors" class="tokenify">Smerovi</a></li>
					<li><a href="courses" class="tokenify">Predmeti</a></li>
					<li><a href="exams" class="tokenify">Ispiti</a></li>
					<li><a href="users" class="tokenify">Korisnici</a></li>
				</ul>
			</div>
		</div>
		<div id="update-self">
			<div class="flex-center">
				<div class="quit" onclick="toggleElement(this.parentNode.parentNode);">&#x00D7;</div>
				<form id="userform" action="/update_user" target="@sendframe" method="post" class="grid" onsubmit="toggleElement(this.parentNode.parentNode); updateUName();">
					<h2>Update user:</h2><br>
					<input type="hidden" name="username" id="update-uname">
					<label for="new-username">Change username:</label>
					<input type="text" name="new_username">
					<label for="new-password">Change password:</label>
					<input type="password" name="new_password">
					<input type="submit" value="Submit">
				</form>
			</div>
		</div>
		<iframe src="" name="@sendframe" id="@sendframe"></iframe>
	</div>
</body>
</html>