<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<title>Studentska sluzba</title>
	<link rel="icon" type="image/x-icon" href="../static/favicon.ico" th:href="@{/favicon.ico}">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}"/>
	<link rel="stylesheet" type="text/css" href="../static/css/login-style.css" th:href="@{/css/login-style.css}"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,600,800' rel='stylesheet' type='text/css'>

    <script type="text/javascript" language="Javascript" src="../static/js/login.js" th:src="@{/js/login.js}"></script>
    <script type="text/javascript" language="Javascript" src="../static/js/token.js" th:src="@{/js/token.js}"></script>
    <script type="text/javascript" language="Javascript" src="../static/js/redirect.js" th:src="@{/js/redirect.js}"></script>
</head>
<body>
	<div id="background"></div>
	<div id="wrapper">
		<div id="login-wrapper">
			<form action="/login_req" id="login" target="@loginframe" method="post">
				<h2> Log-in: </h2>
				<br>
	            <label>Username:</label>
	            <input type="text" id="username" name="username" value="" placeholder="Username..." maxlength="19"><br>
	            <br>
	            <label>Password:</label>
	            <input type="password" id="password" name="password" value="" placeholder="Password..." minlength="8" maxlength="16"><br><br>
	            <p id="badlogin">Incorrect username or password.</p>
	            <input type="submit" value="Submit" class="submit">
	            <input type="reset" value="Reset" class="reset">
			</form>
		</div>
		<iframe src="" name="@loginframe" id="@loginframe" onload="redirect();"></iframe>
	</div>
</body>
</html>