<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<title>Studentska sluzba</title>
	<link rel="icon" type="image/x-icon" href="../static/favicon.ico" th:href="@{/favicon.ico}">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}"/>
	<link rel="stylesheet" type="text/css" href="../static/css/data-style.css" th:href="@{/css/data-style.css}"/>
	<script type="text/javascript" language="Javascript" src="../static/js/loader.js" th:src="@{/js/loader.js}"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,600,800' rel='stylesheet' type='text/css'>

    <script type="text/javascript" language="Javascript" src="../static/js/token.js" th:src="@{/js/token.js}"></script>
	<script type="text/javascript" language="Javascript" src="../static/js/ui.js" th:src="@{/js/ui.js}"></script>
	<script type="text/javascript" language="Javascript" src="../static/js/filters.js" th:src="@{/js/filters.js}"></script>
	<script type="text/javascript" language="Javascript" src="../static/js/redirect.js" th:src="@{/js/redirect.js}"></script>
</head>
<body onload="checkRedirect(); loaderInit(); displayUsername(); addTokenToForm('search'); addTokenToForm('newform'); addTokenToForm('updateform'); setCustomTable(true); submitSearch(); 
	makeRequest('/get_student_filters', [], function(data){
		addOptionsToFilter('city-options', data[0], true, 1, false);
		addOptionsToFilter('major-options', data[1], true, 1, true);
		addOptionsToFilter('new-major-options', data[1], false, 0, true);
		addOptionsToFilter('update-major-options', data[1], false, 0, true);
		initDropDowns();
	});">
	<div id="background"></div>
	<div id="wrapper">
		<header>
			<h1><a href="admin" class="tokenify">Admin</a> / Studenti</h1>
			<div id="user">
				<p id="user-name"></p>
				<img src="../images/user-img.bmp" id="user-img">
				<div id="user-options">
					<button type="button" onclick="toggleElementById('update-self');">Edit user</button>
					<button type="button" onclick="makeRequest('/logout_req', [], function(){window.location.replace('/login');});">Log out</button>
				</div>
			</div>
		</header>
		<div id="content">
			<div id="content-header">
				<form action="/get_students" id="search" method="post" target="@dataframe">
					<input type="text" id="searchbar" value="" placeholder="Search..." oninput="fillTable();">

					<div class="form-element">
						<label class="select-label">Datum rođenja:</label>
						<div class="dropdown">
							<input name="date_of_birth" value="all" readonly>
							<div class="dropdown-preview"></div>
							<div class="dd-options">
								<option value="all">Svi</option>
								<input type="date" class="input-none">
							</div>
						</div>
					</div>

					<div class="form-element">
						<label class="select-label">Grad:</label>
	    				<div class="dropdown multiselect">
							<input name="city" value="all" readonly>
							<div class="dropdown-preview"></div>
							<div class="dd-options" id="city-options">
								<div class="flex-row">
									<label for="city-options-0">Svi</label>
									<input type="checkbox" id="city-options-0" value="all" checked>
								</div>
							</div>
						</div>
					</div>

					<div class="form-element">
						<label class="select-label">Smer:</label>
	    				<div class="dropdown multiselect">
							<input name="major" value="all" readonly>
							<div class="dropdown-preview"></div>
							<div class="dd-options" id="major-options">
								<div class="flex-row">
									<label for="major-options-0">Svi</label>
									<input type="checkbox" id="major-options-0" value="all" checked>
								</div>
							</div>
						</div>
					</div>

					<div class="form-element">
						<label class="select-label" for="order_by">Sortiraj po:</label>
						<div class="dropdown">
							<input name="order_by" value="index" readonly>
							<div class="dropdown-preview"></div>
							<div class="dd-options">
								<option value="index">Br. Indeksa</option>
								<option value="last_name">Prezime</option>
								<option value="first_name">Ime</option>
								<option value="birthyear">Datum</option>
								<option value="city">Grad</option>
								<option value="major">Smer</option>
							</div>
						</div>
					</div>

					<div class="form-element">
						<label class="select-label">Rastući poredak:</label>
						<input type="checkbox" class="labeled" oninput="changeOrder(this.checked);" checked>
					</div>

					<div class="form-element end">
						<button  type="button" onclick="toggleElementById('new-element');" id="new-button">+</button>
					</div>
				</form>
			</div>
			<table id="data">
				<tr>
					<th>Ime</th><th>Prezime</th><th>Indeks</th>
				</tr>
				<tr>
					<td>Ime</td><td>Prezime</td><td>Indeks</td>
				</tr>
			</table>
		</div>

		<div id="new-element" class="popup-fixed">
			<div class="flex-col size-max">
				<div class="quit" onclick="toggleElement(this.parentNode.parentNode);">&#x00D7;</div>
				<br>
				<form action="/add_student" id="newform" method="post" target="@sendframe" class="pad-medium wide new-grid">
						<label for="first_name">Ime:</label><input type="text" name="first_name" required>
						<label for="last_name">Prezime:</label><input type="text" name="last_name" required>
						<label for="year">Godina upisa:</label><input type="number" min="2000" max="2100" name="year" required>
						<label for="date_of_birth">Datum rođenja:</label><input type="date" name="date_of_birth" required>
						<label for="city">Grad:</label><input type="text" name="city" required>
						<label for="jmbg">JMBG:</label><input type="text" minlength="13" maxlength="13" name="jmbg" required>

						<label for="major_id">Smer:</label>
						<div class="dropdown no-auto-submit">
							<input name="major_id" value="" minlength="1" readonly required>
							<div class="dropdown-preview"></div>
							<div class="dd-options" id="new-major-options">
							</div>
						</div>
				</form>
				<div class="flex-row wide pad-medium">
					<button type="submit" form="newform">Submit</button>
					<button type="reset" form="newform">Clear</button>
				</div>
			</div>
		</div>

		<div id="update-element" class="popup-fixed" style="padding-top: 30px;">
			<div class="flex-col size-max">
				<div class="quit" onclick="toggleElement(this.parentNode.parentNode);">&#x00D7;</div>
				<br>
				<form action="/update_student" id="updateform" method="post" target="@sendframe" class="pad-medium wide new-grid">
					<label for="firstName">Ime:</label><input type="text" name="firstName" required>
					<label for="lastName">Prezime:</label><input type="text" name="lastName" required>
					<label for="new-index">Indeks:</label><input type="text" name="new-index" required>
					<label for="year">Godina upisa:</label><input type="number" min="2000" max="2100" name="year" required>
					<label for="dateOfBirth">Datum rodjenja:</label><input type="date" name="dateOfBirth" required>
					<label for="city">Grad:</label><input type="text" name="city" required>
					<label for="jmbg">JMBG:</label><input type="text" minlength="13" maxlength="13" name="jmbg" required>

					<label for="majorId">Smer:</label>
					<div class="dropdown no-auto-submit">
						<input name="majorId" value="" minlength="1" readonly required>
						<div class="dropdown-preview"></div>
						<div class="dd-options" id="update-major-options">
						</div>
					</div>
					<input type="hidden" name="" id="updated_id" required>
				</form>
				<div class="flex-row wide pad-medium">
					<button type="submit" form="updateform">Submit</button>
					<button type="reset" form="updateform">Clear</button>
				</div>
			</div>
		</div>
		<div id="update-self">
			<div class="flex-center">
				<div class="quit" onclick="toggleElement(this.parentNode.parentNode);">&#x00D7;</div>
				<form id="userform" action="/update_user" target="@sendframe" method="post" class="grid" onsubmit="toggleElement(this.parentNode.parentNode); updateUName();">
					<h2>Update user:</h2><br>
					<input type="hidden" name="username" id="update-uname">
					<label for="new-username">Change username:</label>
					<input type="text" name="new_username">
					<label for="new-password">Change password:</label>
					<input type="password" name="new_password">
					<input type="submit" value="Submit">
				</form>
			</div>
		</div>
		<iframe src="" name="@sendframe" id="@sendframe"></iframe>
		<iframe src="" name="@dataframe" id="@dataframe" onload="parseData();"></iframe>
	</div>
</body>
</html>