<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<title>Studentska sluzba</title>
	<link rel="icon" type="image/x-icon" href="../static/favicon.ico" th:href="@{/favicon.ico}">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}"/>
	<link rel="stylesheet" type="text/css" href="../static/css/data-style.css" th:href="@{/css/data-style.css}"/>
	<script type="text/javascript" language="Javascript" src="../static/js/user-loader.js" th:src="@{/js/user-loader.js}"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,600,800' rel='stylesheet' type='text/css'>

    <script type="text/javascript" language="Javascript" src="../static/js/token.js" th:src="@{/js/token.js}"></script>
	<script type="text/javascript" language="Javascript" src="../static/js/ui.js" th:src="@{/js/ui.js}"></script>
	<script type="text/javascript" language="Javascript" src="../static/js/redirect.js" th:src="@{/js/redirect.js}"></script>
</head>
<body onload="checkRedirect(); displayUsername(); addTokenToForm('search'); submitSearch();">
	<div id="background"></div>
	<div id="wrapper">
		<header>
			<h1><a href="admin" class="tokenify">Admin</a> / Korisnici</h1>
			<div id="user">
				<p id="user-name"></p>
				<img src="../images/user-img.bmp" id="user-img">
				<div id="user-options">
					<button type="button" onclick="toggleElementById('update-self');">Edit user</button>
					<button type="button" onclick="makeRequest('/logout_req', [], function(){window.location.replace('/login');});">Log out</button>
				</div>
			</div>
		</header>
		<div id="content">
			<div id="content-header">
				<form action="/get_all_users" id="search" target="@dataframe" method="post">
					<input type="text" id="searchbar" value="" placeholder="Search..." oninput="fillTables();">

					<div class="form-element">
						<label class="select-label">Rastuci poredak:</label>
						<input type="checkbox" class="labeled" onclick="changeOrder(this.checked);" checked>
					</div>
				</form>
			</div>

			<div class="flex-row-stretch">

				<div class="pad-medium">
					<h1>Studenti:</h1>
					<table id="data-student" class="table-static">
						<tr>
							<th>Ime</th><th>Prezime</th><th>Indeks</th>
						</tr>
						<tr>
							<td>Ime</td><td>Prezime</td><td>Indeks</td>
						</tr>
					</table>
				</div>

				<div class="pad-medium">
					<h1>Predavaci:</h1>
					<table id="data-lecturer" class="table-static">
						<tr>
							<th>Ime</th><th>Prezime</th><th>Indeks</th>
						</tr>
						<tr>
							<td>Ime</td><td>Prezime</td><td>Indeks</td>
						</tr>
					</table>
				</div>

				<div class="pad-medium">
					<h1>Administratori:</h1>
					<table id="data-admin" class="table-static">
						<tr>
							<th>Ime</th><th>Prezime</th><th>Indeks</th>
						</tr>
						<tr>
							<td>Ime</td><td>Prezime</td><td>Indeks</td>
						</tr>
					</table>
				</div>
			</div>
		<div id="update-self">
			<div class="flex-center">
				<div class="quit" onclick="toggleElement(this.parentNode.parentNode);">&#x00D7;</div>
				<form id="userform" action="/update_user" target="@sendframe" method="post" class="grid" onsubmit="toggleElement(this.parentNode.parentNode); updateUName();">
					<h2>Update user:</h2><br>
					<input type="hidden" name="username" id="update-uname">
					<label for="new-username">Change username:</label>
					<input type="text" name="new_username">
					<label for="new-password">Change password:</label>
					<input type="password" name="new_password">
					<input type="submit" value="Submit">
				</form>
			</div>
		</div>	
		<iframe src="" name="@sendframe" id="@sendframe"></iframe>
		<iframe src="" name="@dataframe" id="@dataframe" onload="parseData();"></iframe>
	</div>
</body>
</html>