::ng-deep mat-dialog-container {
  background-color: whitesmoke !important;
  border-radius: 20px !important;
}
  
  h1{
    color: black;
    text-shadow: 3px 3px 3px white, 0 0 25px white, 0 0 10px white;
    text-align: center;
  }
  
  body {
    background-color:whitesmoke;
  }
  
  ul li{
  color:black;
  font-size: 20px;
  }
  
  li li {
  color:#6c0d0d;
  font-size: 16px;
  text-align: justify;
  } 
  
  #div1 {
    color:#6c0d0d; 
    font-size:30px;
    text-align: justify;
  }