<div id="wrap">
    <div  class="btn btn-danger">
        <h1>WARNING</h1>
    </div>
    <br>
    <br>  
    <div style="background-color: #343a40;" class="btn btn-danger">
        <p style="padding:  0px; background-color: #343a40;">Once you delete this account you wont be able to acces it ever again</p>
        <p style="padding: 0px; background-color: #343a40;">Are you sure you want to procced ?</p>
    </div>
    <div>
        <div (click)="deleteUser()" id="yes" class="btn btn-danger">
            <h3>Delete</h3>
        </div>
        <div (click)="closeDialog()" id="cancel" class="btn btn-danger">
            <h3>Cancel</h3>
        </div>
    </div>
</div>

<!-- <div style="margin: 0px; background-color: brown; margin-top: 20px;" class="col-md-12">
    <div style="margin-bottom: 50px;" class="card card-container">
    
    <div>
</div> -->
